<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
          <img src="logo.png" alt="Supersports">
      </a>

      <!-- Nút toggle cho mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu chính -->
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item"><a class="nav-link" href="#">Môn thể thao</a></li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Nam</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Áo</a></li>
                      <li><a class="dropdown-item" href="#">Quần</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Nữ</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Áo</a></li>
                      <li><a class="dropdown-item" href="#">Quần</a></li>
                  </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Trẻ Em</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Phụ Kiện</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Thương Hiệu</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Thể Thao</a></li>
              <li class="nav-item"><a class="nav-link text-success" href="#">Ưu Đãi</a></li>
          </ul>
      </div>

      <!-- Ô tìm kiếm và icon -->
      <div class="d-flex align-items-center">
          <input type="text" class="form-control search-box me-2" placeholder="Bạn đang tìm gì" style="width: 200px;">
          <a href="#" class="icon-btn"><i class="bi bi-search" ></i> <i class="fa-solid fa-magnifying-glass"></i></a>
          <a href="#" class="icon-btn"><i class="bi bi-user" ></i><i class="fa-solid fa-user"></i></a>
          <a href="#" class="icon-btn"><i class="bi bi-cart3"></i><i class="fa-solid fa-cart-shopping"></i></a>
          <!-- <a href="#" class="icon-btn"><i class="bi bi-geo-alt"></i></a> -->
          <!-- <a href="#" class="icon-btn"><img src="vietnam-flag.png" alt="VN" style="height: 20px;"></a> -->
      </div>
  </div>
</nav>
