.header-nav-left {
    display: none !important;
}

@media (max-width: 1199.98px) {
    .header-nav-left {
        display: block !important;
    }
}
@media (max-width: 1199.98px) {
    .offcanvas-body {
        display: none !important;
    }
    
}

@media (max-width: 1197.98px) {
    .offcanvas-body {
        display: block !important;
    }
}

/* header .navbar-nav .dropdown-menu {
    width: 80vw; 
    left: -20vw; 
    height: 40vw;
    background: red;
} */


header .navbar-nav .dropdown-menu li{

}

.top-nav {
    padding: 10px !important;
}

.input-group {
    width: 125%;
}

// header 
.dropdown-menu li {
    position: relative;
    list-style: none;
}

.dropdown-menu .sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background: white;
    border: 1px solid #ddd;
    display: none;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu li:hover > .sub-menu,
        .dropdown-menu li.active > .sub-menu {
            display: block;
            opacity: 1;
            transform: translateX(0);
        }
