.header-nav-left {
    display: none !important;
}

@media (max-width: 1199.98px) {
    .header-nav-left {
        display: block !important;
    }
}
@media (max-width: 1199.98px) {
    .offcanvas-body {
        display: none !important;
    }
    
}

@media (max-width: 1197.98px) {
    .offcanvas-body {
        display: block !important;
    }
}

header .navbar-nav .dropdown-menu {
    width: 80vw; 
    left: -20vw; 
    height: 30vw;
}


header .navbar-nav .dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

header .navbar-nav .dropdown-menu li {
    width: 20%;                  /* 5 mục trên 1 hàng */
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    /* border-top: none; */
    list-style: none;
    box-sizing: border-box;
}
