.header-nav-left {
    display: none !important;
}

@media (max-width: 1199.98px) {
    .header-nav-left {
        display: block !important;
    }
    header .navbar-nav .dropdown-menu-2 {
        left: 0% !important;
        width: 100% !important;
        position: relative !important;
        max-height: 650px !important;
        overflow-y: auto !important; 
    }
    .dropdown-header{
        margin-top: 10px !important;
    }
    header .navbar-expand-xl .dropdown-column .dropdown-header::before {
        content: "";
        position: relative !important;
        bottom: -10px;
        width: 100%;
        height: 2px;
        background-color: var(--theme-color);
        left: 0;
    }
    
}
@media (max-width: 1199.98px) {
    .offcanvas-body {
        display: none !important;
    }
    
}

@media (max-width: 1197.98px) {
    .offcanvas-body {
        display: block !important;
    }
}

@media (max-width: 1280.98px) {
    .rightside-box{
        margin-left: 30px;
    }
}

header .navbar-nav .dropdown-menu-2 {
    width: 90vw;
    left: 240%;
    position: absolute;
    top: 100%;
    max-height: 530px;
    overflow-y: auto; 
}


.dropdown-column h5{
    text-align: center;
    font-weight: 700;
}
.dropdown-header{
    margin-top: 20px;
}
header .navbar-expand-xl .dropdown-column .dropdown-header::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: var(--theme-color);
    left: 0;
}

header .top-nav{
    padding: 0px;
    padding-top: 5px;
}

header .top-nav .navbar-top .middle-box .search-box .input-group {
    width: 115%;

}
.input-group .btn {
    z-index: 0 !important;
}
header .navbar-expand-xl .dropdown-menu .dropdown-item:hover::after {
    width: 50%; 
    transform: scale(1.1);
}

.dropdown-header a {
    color: black !important;
    text-decoration: none; 
    transition: all 0.3s ease;
}

.dropdown-header a:hover {
    color: #0e947a !important;
}

header .onhover-dropdown .onhover-div .cart-list {
    max-height: 300px; /* bạn có thể điều chỉnh chiều cao tùy ý */
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #ccc transparent; 
}

header .header-top {
    padding: 3px ;
}



.pb-md-4 {
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
  }

  header .navbar-expand-xl .dropdown:hover .dropdown-menu-2 {
    /* transform: translateX(-50%) translateY(0); */
    /* transition: transform 0.3s ease-in-out !important; */
  }

  header .navbar-expand-xl .dropdown-menu-2 {
    transition: transform 0.1s ease-in-out !important;
  }

  h2 {
    text-transform: none;
}