.header-nav-left {
    display: none !important;
}

@media (max-width: 1199.98px) {
    .header-nav-left {
        display: block !important;
    }
}
@media (max-width: 1199.98px) {
    .offcanvas-body {
        display: none !important;
    }
    
}

@media (max-width: 1197.98px) {
    .offcanvas-body {
        display: block !important;
    }
}

.dropdown-menu  {
    width: 90px !important;
}

.dropdown-menu li a.dropdown-item {

}

.dropdown-menu li a.dropdown-item:hover {

}
