

<main class="main">
  <div class="container">
    <h1>Chọn Giao Diện</h1>
    <select (change)="changeTheme($event)" class="form-control">
      <option value="green">Xanh lá - Đen - Trắng</option>
      <option value="red">Đỏ - Đen - Trắng</option>
      <option value="blue">Xanh dương - Xám - Trắng</option>
      <option value="orange">Cam - Xám - Đen</option>
      <option value="yellow">Vàng - Đen - Trắng</option>
    </select>
  </div>
  <app-register></app-register>
  <router-outlet />

 </main>



